<section>
  <div class="container" style="margin-top: 30px">
    <form (ngSubmit)="updateItemList()" #filterForm="ngForm">
      <div class="form-row">
        <div class="col-5">        
          <select [(ngModel)]="this.selectedBrand" name="selectedBrand" class="custom-select" style="margin-bottom: 5%; margin-right: 0%" id="sel1">
            <option [value]=0>ALL BRANDS</option>
            <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
          </select> 
        </div>         
        <div class="col-5">
          <select [(ngModel)]="this.selectedType" name="selectedType" class="custom-select" id="sel2">
              <option [value]=0 >ALL TYPES</option>
              <option *ngFor="let type of types" [value]="type.id">{{type.type}}</option>
          </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary" style="width: 100%" (on)="updateItemList()">Filter</button>
        </div>
      </div>
    </form>
  </div>
</section>
<section>
  <div class="container">       
    <div class="col-lg-20">
      <div class="row">
          <div class="col-lg-4 col-md-6 mb-10" *ngFor="let item of items" style="padding-bottom: 30px; padding-top: 30px; align-self: auto;">
              <div class="card" style="width: 100%">
                <a href="#"><img class="card-img-top" src={{item.pictureFileUri}}{{item.pictureFileName}} alt={{item.pictureFileName}}></a>
                <div class="card-body" style="height: 4cm">        
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="height: 70px">{{item.name}}</li>
                    <li class="list-group-item">${{item.price}}</li>
                  </ul>
                </div>
                <div class="card-footer" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">        
                <button type="button" class="btn btn-primary" style="margin: 0px 0px 0px 0px; width: 100%">Add to Cart</button>
                </div>
              </div>
            </div>              
      </div>
    </div>
  </div>
</section>

