<div class="container">
  <div class="row" style="padding-top: 2%">
    <div class="col-lg-3">        
        <div class="card">
            <h3 class="card-header primary-color white-text">Filter</h3>
            <form (ngSubmit)="updateItemList()" #filterForm="ngForm">
                <div class="card-body">            
                  <div class="form-group">
                    <select [(ngModel)]="this.selectedBrand" name="selectedBrand" class="custom-select d-block w-100" style="margin-bottom: 5%" id="sel1">
                      <option [value]=0>ALL BRANDS</option>
                      <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
                    </select>          
                  </div>
                  <div class="form-group">
                    <select [(ngModel)]="this.selectedType" name="selectedType" class="custom-select d-block w-100" style="margin-bottom: 5%" id="sel2">
                        <option [value]=0 >ALL TYPES</option>
                        <option *ngFor="let type of types" [value]="type.id">{{type.type}}</option>
                    </select>                                          
                  </div>
                  <button type="submit" class="btn btn-primary" style="width: 100%" (on)="updateItemList()">Filter</button>
                </div>
              </form>
          </div>
    </div>
  
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <div class="row">
          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of items">
              <div class="card h-100 w-100">
                <a href="#"><img class="card-img-top" style="height: 300px; width: 100%;" src={{item.pictureFileUri}} alt={{item.pictureFileName}}></a>
                <div class="card-footer">        
                    <h4 class="card-title">
                      {{item.name}}
                    </h4>
                    <h5>${{item.price}}</h5>
                    
                </div>
                <div class="card-footer" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">        
                <button type="button" class="btn btn-primary" style="margin: 0px 0px 0px 0px; width: 100%">Add to Cart</button>
                </div>
              </div>
            </div>              
      </div>
      
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

